* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E
}

.nav li {
    list-style: none;
    display: inline;
    margin-right: 32px;
    font-weight: 500px;
    color: white;
    font-size: 1rem;
}

.nav-logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.top {
    background-image: url(./assets/hero-bg.png);
    /* width: 100%; */
    background-repeat: no-repeat;
    /* width: 100vw; */
    background-size: cover;
}

#wave {
    background: linear-gradient(
        30deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    background-clip: text;
    color: transparent;
}

.nav-sub button{
    padding: 12px 16px;
    /* background-color: red; */
    margin: 24px auto;
    font-weight: 600;
}

.btn{
    background: linear-gradient(
    30deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
    );
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 9999px;
    border: 0px;
}


/* hero */
.hero{
     background-image: url(./assets/hero-bg.png);
    /* width: 100%; */
    background-repeat: no-repeat;
    /* width: 100vw; */
    background-size: cover;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding-bottom: 500px; */
}
.hero-frame{
    margin: 0px auto;
    /* border: 1px  solid red; */
}

.hero-img{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    padding: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    /* border: 1px  solid red; */
    height: 350px;
    width: 350px;
}



